*.gcno
*.gcda
*.o
*.dSYM
*.so
*.dylib
src/bbircd/bbircd
src/libbbevqueue/bb_ircd_event.pb.cc
src/libbbevqueue/bb_ircd_event.pb.h
src/libbbevqueue/bb_queue_index.pb.cc
src/libbbevqueue/bb_queue_index.pb.h
src/libbbevqueue/cas_test
src/libbbevqueue/client
src/libbbirc/irc_client
src/libbbirc/irc_proto.cpp
src/libbbirc/tests/test_irc_connection
src/libbbirc/tests/test_irc_proto
src/logapi/logapi.pb.cc
src/logapi/logapi.pb.h
src/logapi/logapibbevequeue
src/logapi/logapiserver
src/logapi/logapibbevqueue
src/searchapi/evhttp_search_client
src/searchapi/searchapi.pb.cc
src/searchapi/searchapi.pb.h
src/searchapi/searchapiserver

