body{
    background-color: white;
    margin: 0px;
}

#header{ 
    background-image: url("/img/header_bg.jpg");
    height: 100px;
    border-bottom: 1px solid #99bb99;
}


#send_message{
    left: 0px;
    width: 100%;
    height: 80px;
    bottom: 0px;
    position: fixed;
    z-index: 1;
    background-color: #bfe2ca;
    border-top: 1px solid #99bb99;
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 120px;
}

#join_channel{
    top: 0px;
    left: 0px;
    position: fixed;
    height: 40px;
    width: 100%;
    margin: 0px;
    background-color: #bfe2ca;
    padding-left: 10px;
    padding-top: 5px;
}

#logout{
    position: fixed;
    top: 0px;
    right: 0px;
    margin-right: 10px;
}

#channels{
    top: 25px;
    left: 0px;
    position: fixed;
    height: 25px;
    width: 100%;
    margin: 5px;
    margin-left: 0px;
    border-bottom: 1px solid #99bb99;
    background-color: #bfe2ca;
}

#connect{
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100px;
    margin: 0px;
    background-color: #bfe2ca;
    padding-left: 10px;
    zindex: 5;
    border-bottom: 1px solid #99bb99;
}

#yohaku{
    widdth: 100%;
    height: 90px;
}

#line{
    margin: 0px;
    padding: 0px;
    line-height: 1.2;
}

#oldline{
    margin: 0px;
    padding: 0px;
    line-height: 1.2;
    color: #99aa99;
}

#usermessage{
    margin: 0px;
    padding: 0px;
    text-align: left;
}

#speaker{
    color: #99aa99;
}

#time{
    padding: 0px;
    margin: 0px;
    text-align: right;
    float: right;
    color: white;
}

span{
    margin: 10px 10px 10px 10px;
}

#leftspace{
    margin: 0px 0px 0px 20px;
}

#messages{
    width: 80%;
}

#message_form{
    margin-right: 130px;
}

#message{
    width: 100%;
    margin-right: 120px;
}

#messagebox{
    margin-top: 60px;
    z-index: -1;
    margin-left: 5px;
    margin-right: 120px;
}

#debug{
    position:fixed;
    top: 0px;
    right: 0px;
    overflow: scroll;
    height: 80%;
}

.users{
    height: auto;
    width: 100px;
    position: fixed;
    top:55px;
    bottom: 90px;
    right: 0px;
    background-color: #bfe2ca;
    padding: 10px;
    border-left: 1px solid #99bb99;
    z-index: 6;
    margin: 0px;
}

#video_container{
    width: 320px;
    height: 260px;
    z-index: 10;
}

#video{
    z-index: 10;
}

#video_bar{
    width: 320px;
    height: 20px;
    background-color: #bfe2ca;
    z-index: 10;
}

embed{
    width: 320px;
    height: 260px;
}
