#send_message{
    width: 100%;
    height: 50px;
    bottom: 0px;
    position: fixed;
    background-color: white;
    z-index: 1;
}

#join_channel{
    top: 0px;
    position: fixed;
    background-color: white;
    width: 80%;
}

#channels{
    top: 20px;
    position: fixed;
    background-color: white;
    width: 80%;
}

#yohaku{
    widdth: 100%;
    height: 50px;
}

#line{
    margin: 0px;
    padding: 0px;
    line-height: 1;
}

#usermessage{
    margin: 0px;
    padding: 0px;
    text-align: left;
    float: left;
}

#time{
    padding: 0px;
    margin: 0px;
    text-align: right;
    color: white;
}

span{
    margin: 10px 10px 10px 10px;
}
#messages{
    width: 80%;
}

#messagebox{
    margin-top: 50px;
    margin-right: 20%;
}

#debug{
    position:fixed;
    top: 0px;
    right: 0px;
    overflow: scroll;
    height: 80%;
}

.users{
    position: fixed;
    right: 10%;
}